/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

.input-form {
  border-style: solid;
  border-width: 2px;
  border-color: #404040;
  width: 75%;
  margin: auto;
}

h1 {
  font-size: 60%;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}